appdirs==1.4.4
astroid==2.4.2
attrs==20.3.0
autopep8==1.5.4
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.9.3
bs4==0.0.1
cachelib==0.1.1
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
colorclass==2.2.0
cssselect==1.1.0
cssselect2==0.4.1
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docopt==0.6.2
EditorConfig==0.12.3
feedparser==6.0.2
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
Flask-AutoIndex==0.6.6
Flask-JSGlue==0.3.1
Flask-Session==0.3.2
Flask-Silk==0.2
Flask-SQLAlchemy==2.4.4
future==0.18.2
gunicorn==20.0.4
html5lib==1.1
icdiff==1.9.1
idna==2.7
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
jsbeautifier==1.13.4
jsonschema==3.2.0
jupyter-core==4.7.0
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
natsort==7.1.0
nbformat==5.1.2
nltk==3.5
oauthlib==3.1.0
olefile==0.46
packaging==20.8
passlib==1.7.4
pdfrw==0.4
pew==1.2.0
pexpect==4.8.0
pillow==8.1.0
pip-upgrader==1.4.15
pipenv==2020.11.15
plotly==4.14.3
ptyprocess==0.7.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.4
pylint==2.6.0
pylint-django==2.4.2
pylint-flask==0.6
pylint-plugin-utils==0.6
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.10.0
pyrsistent==0.17.3
python-magic==0.4.18
pytz==2020.5
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
sgmllib3k==1.0.0
shellingham==1.3.2
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.22
sqlparse==0.4.1
termcolor==1.1.0
terminaltables==3.1.0
tinycss==0.4
tinycss2==1.1.0
toml==0.10.2
tqdm==4.56.0
traitlets==5.0.5
twython==3.8.2
urllib3==1.26.4
virtualenv==20.3.1
virtualenv-clone==0.5.4
waitress==1.4.4
WeasyPrint==52.2
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
