{% extends "layoutA.html" %}

{% block title_button_flex %}
    <form action="/adminOne" method="GET">
        <button class="btn btn-default" type="submit"> Admin Page </button>
    </form>
    <form action ="/" method="GET">
        <button class="btn btn-default" type="submit"> Login Page </button>
    </form>
{% endblock %}

{% block body %}
<div class="container my-3">
    <form action="/admin_editCommittee" method="POST">
        <div class="form-group">
            <label for="committee">Committee Name</label>
            <input type="text" class="form-control" name="committee" value="{{committee.name}}" id="committee"/>
        </div>
        <div class="form-group">
            <label for="typeOfCom">Type of Committee:</label>
            <select class="form-control" name="typeOfCom" id="typeOfCom">
                {% for com in types_of_committees %}
                    <option value="{{com.id}}" {% if committee.type_of_committee.id == com.id %} selected {% endif %}>{{com}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <h3>Room</h3>
            <input type="text" class="form-control" name="room" value="{{committee.room}}"/>
        </div>
        <div class="form-group">
            <button class="btn btn-default" name="Button" type="submit" value="{{committee.id}}">Edit</button>
        </div>
    </form>
</div>
{% endblock %}