{% extends "layoutA.html" %}

{% block titlebodyextra %}
<div class="col-lg-4 col-lg-offset-5">
    <form action="/adminOne" method="GET" style="display: inline;">
        <button class="btn btn-default" type="submit"> Admin Page </button>
    </form>
    <form action ="/" method="GET" style="display: inline;">
        <button class="btn btn-default" type="submit"> Login Page </button>
    </form>
</div>
{% endblock %}

{% block extratitlebody %}{% endblock %}

{% block body %}
<div class="container">
    <h2> This is the stats page.</h2><br><br><br>
    <div class="row">
        <div class="col">
            <h3>Total number of assigments:</h3><br>
            <h5>HS EN Total: {{hsenT}}</h5><br>
            <h5>HS SP Total: {{hsspT}}</h5><br>
            <h5>HS EN Important Total: {{hseniT}}</h5><br>
            <h5>HS SP Important Total: {{hsspiT}}</h5><br>
            <h5>MS EN Total: {{msenT}}</h5><br>
            <h5>MS SP Total: {{msspT}}</h5><br>
            <h5>MS EN Important Total: {{mseniT}}</h5><br>
            <h5>MS SP Important Total: {{msspiT}}</h5><br>
            <h5>Total: {{totalT}}</h5>
        </div>
        <div class="col">
            <h3>Number of assignments available:</h3><br>
            <h5>HS EN Available: {{hsenA}}</h5><br>
            <h5>HS SP Available: {{hsspA}}</h5><br>
            <h5>HS EN Important Available: {{hseniA}}</h5><br>
            <h5>HS SP Important Available: {{hsspiA}}</h5><br>
            <h5>MS EN Available: {{msenA}}</h5><br>
            <h5>MS SP Available: {{msspA}}</h5><br>
            <h5>MS EN Important Available: {{mseniA}}</h5><br>
            <h5>MS SP Important Available: {{msspiA}}</h5><br>
            <h5>Total Available: {{totalA}}</h5>
        </div>
    </div>
</div>

<div class="container">
    <h3>Committee Information:</h3><br>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <th scope="col">Committee</th>
                    <th scope="col">Total Assignments</th>
                    <th scope="col">Assignments in Use</th>
                    <th scope="col">Assignments Available</th>
                    <th scope="col">Total Important Assignments</th>
                    <th scope="col">Important Assignments in Use</th>
                    <th scope="col">Important Assignments Available</th>
                </thead>
                <tbody>
                    {% for committee in committees %}
                        <tr>
                            <td>{{committee.name}}</td>
                            <td>{{committee.numOfAssignments()}}</td>
                            <td>{{committee.numOfDelegates()}}</td>
                            <td {% if committee.codeRed(False) %} class="table-danger" {% elif committee.codeYellow(False) %} class="table-warning" {% endif %}>{{committee.numOfAssignments() - committee.numOfDelegates()}}</td>
                            <td>{{committee.numOfImportantAssignments()}}</td>
                            <td>{{committee.numOfImportantDelegates()}}</td>
                            <td>{{committee.numOfImportantAssignments() - committee.numOfImportantDelegates()}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock %}