{% extends "layoutT.html" %}

{% block titlebodyextra %}{% endblock %}

{% block body %}
<div class="container">
    <h3> This is the Sign Up Page, please fill in the information below. </h3> <br>

    <form action="/user_signUp" method = "post">
        <fieldset>
            <div class="form-group">
                <h3> Full Name: </h3>
                <input type="text" autofocus class="form-control" name="personName" id="Name"required >
            </div>
            <div class="form-group">
                <h3> School: </h3>
                <input type="text" class="form-control" name="school" id="School" required >
            </div>
            <div class="form-group">
                <h3> Email Address: </h3>
                <input type = "email" class="form-control" name="email" id="Email" required >
            </div>
            <div class="form-group">
                <h3> Password: (Please use a simple password)</h3>
                <input type = "password" class="form-control" name = "password" required >
            </div>
            <div class="form-group">
                <h3> Confirm Password: </h3>
                <input type = "password" class="form-control" name = "password_second" required >
            </div>
            <div class="form-group">
                <h3>Confirmation Code (provided by the HOSPITALITY Department): </h3>
                <input type = "text" class="form-control" name = "confirmationCode" required >
            </div>

            <br
            <h2> Please remeber to send a picture of you to the Hospitality department at hospitality@immuns.org </h2>
            <br>
            <div class="form-group">
                <button class="btn btn-default" type = "submit" value = "Submit"> Submit </button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}