{% extends "layoutT.html" %}

{% block body %}
<div class="container py-3">
    <h3> These are the country assignments for {{school}}. You can print this page using your default browser.</h3>

    <div style="font-size:18px" class="my-2">
        <table class="table table-hover table-striped" style="width:100%">
            <tr>
                <th>Committee</th>
                <th>Country</th>
                <th>Delegate Name</th>
                <th>Delegate Grade Level</th>
                <th>Room</th>
            </tr>
            {% for delegate in delegates %}
                <tr>
                    <td>{{delegate.assignment.committee.name}} - {{delegate.assignment.committee.type_of_committee}}{% if delegate.assignment.important == True %} - Important Country {% endif %}</td>
                    <td>{{delegate.assignment.country}}</td>
                    <td>{{delegate.name}}</td>
                    <td>{{delegate.grade}}</td>
                    <td>{{delegate.assignment.committee.room}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}