{% extends "layoutT.html" %}

{% block head_content %}
    <style>

/* ----------- stylized ----------- */

    body{
    font-size:17px;
    }

         p, h1, form, button{border:0; margin:0; padding:0;}
    .spacer{clear:both; height:1px;}

        #stylized{
    border:solid 3px #660505;
    background:#b33d3d;
    }

        #stylized h1 {
    font-size:20px;
    font-weight:bold;
    margin-bottom:5%;
    }

        #stylized label{
    display:block;
    font-weight:bold;
    text-align:left;
    float:left;
    }

        #stylized input.text{
    font-size:20px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    margin:2px 0 20px 10px;
    }

        #stylized button{
    clear:both;
    display:inline-block;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#660505;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    }

</style>
{% endblock %}

{% block title_button_flex %}
    <form action="/logOut" method="POST">
        <button class="btn btn-default" type="submit"> Log Out </button>
    </form>

    <form action ="/userDownload" method="POST">
        <button class="btn btn-default" type="submit"> Download Assignments </button>
    </form>

    <form action ="/userSettingsPage" method="GET">
        <button class="btn btn-default" type="submit"> Account Settings </button>
    </form>
{% endblock %}

{% block body %}

<div class="container my-3">
    <h4> These are your assigned delegations, please specify the name and grade of the student for each delegation.</h4>
</div>

<div class="text-center">
    <form action="/user_oldTeacherPage" method="POST">
        <div class="container-fluid">
            <div class="d-flex flex-row flex-wrap justify-content-around">
                {% for delegate in delegates %}
                    <div id="stylized" class="myform col-12 col-md-5 col-lg-3 p-5 m-2">
                        <div>
                            <h1>{{delegate.assignment.committee.__str__()}}  -  {{delegate.assignment.country}} {% if delegate.assignment.important == True %}  -  Important Country {% endif %}</h1>
                        </div>
                        <div>
                            <label>Student Full Name</label>
                            <input type="text" name="N_{{delegate.id}}" id="N_{{delegate.id}}"  class="form-control" value="{{delegate.name}}" />

                            <br>

                            <label>Grade Level</label>
                            <select name="G_{{delegate.id}}" class="form-control custom-select" id="G_{{delegate.id}}">
                                <option value="{{delegate.grade}}">{{delegate.grade}}</option>
                                {% for grade in grades %}
                                    <option value="{{grade}}">{{grade}}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container-fluid mt-3">
            <div class="form-group">
        	    <div class="form-row">
        	        <button type="submit" class="btn btn-default" name="submit" id="submit"> Submit </button>
        	    </div>
        	</div>
        </div>
    </form>
</div>

{% endblock %}